@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: 'light';
    default: true;
    --color-primary: rgb(29, 155, 240);
    --color-secondary: rgb(24, 24, 24);
    --color-secondary-content: white;
}

@import './styles/fonts.css';

body {
    font-family: 'Pretendard', sans-serif;
}

.floating-label input:focus + span,
.floating-label input:not(:placeholder-shown) + span {
    font-size: 1.125rem;
}

@layer components {
    .btn {
        box-shadow: none !important;
    }

    .bn {
        @apply btn font-normal;
        box-shadow: none !important;
    }
}

@theme {
    --breakpoint-xs: 31.25rem;
    --breakpoint-xl: 79.9375rem;
    --breakpoint-lg-plus: 67.5rem;
    --breakpoint-xl-plus: 86.25rem;
}

.editor-input::placeholder {
    color: #9ca3af;
}

.editor-input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 20px;
    line-height: 1.5;
    padding: 12px 0;
    white-space: pre-wrap;
    word-break: break-word;
}

.editor-placeholder {
    position: absolute;
    inset: 0;
    color: #9ca3af;
    pointer-events: none;
    font-size: 20px;
    line-height: 1.5;
    padding: 12px 0;
}

.modal {
    transition: none;
}

.modal-box {
    transform: none;
    translate: none;
    scale: none;
    transition: none;
}
