@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: 'light';
    default: true;
    --color-primary: rgb(29, 155, 240);
    --color-secondary: rgb(24, 24, 24);
}

@import './styles/fonts.css';

body {
    font-family: 'Pretendard', sans-serif;
}

.floating-label input:focus + span,
.floating-label input:not(:placeholder-shown) + span {
    font-size: 1.125rem;
}

@layer components {
    .btn {
        box-shadow: none !important;
    }

    .bn {
        @apply btn font-normal;
        box-shadow: none !important;
    }
}

@theme {
    --breakpoint-xs: 31.25rem;
    --breakpoint-xl: 79.9375rem;
    --breakpoint-lg-plus: 67.5rem;
    --breakpoint-xl-plus: 86.25rem;
}

.public-DraftEditor-content[contenteditable='true'] {
    -moz-user-modify: read-write-plaintext-only;
    -webkit-user-modify: read-write-plaintext-only;
}

.DraftEditor-root {
    width: 100%;
    position: relative;
    -webkit-user-select: none;
}

.DraftEditor-editorContainer {
    background-color: rgba(255, 255, 255, 0);
    border-left: 0.1px solid transparent;
    position: relative;
    z-index: 1;
}

.DraftEditor-editorContainer, .DraftEditor-root, .public-DraftEditor-content {
    height: inherit;
    max-height: inherit;
    min-height: inherit;
    text-align: initial;
}

.public-DraftEditorPlaceholder-root {
    padding-bottom: 2px;
    padding-top: 2px;
    position: absolute;
    z-index: 1;
    color: #6b7280;
}

.public-DraftEditorPlaceholder-inner {
    user-select: none;
    -webkit-user-select: none;
}

.public-DraftStyleDefault-block {
    overflow: hidden;
    padding-bottom: 2px;
    padding-top: 2px;
    position: relative;

    white-space: pre-wrap;
    word-break: break-word;
}

.public-DraftStyleDefault-rtl {
    direction: rtl;
    text-align: right;
}

.public-DraftEditorPlaceholder-root,
.public-DraftEditorPlaceholder-inner,
.public-DraftEditor-content {
    font-size: 20px;
}
